<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2 class="green">Quienes Somos</h2>
			<p class="amamos">CONÓCENOS</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-left box">
			<p>Somos una spa de desarrollo web y aplicaciones móviles, que nació con la intención de satisfacer de forma integral los requerimientos de nuestros clientes.</p>
			<p>Nos gusta y apasiona lo que hacemos. nos preocupamos por entregar un trabajo de calidad a todos nuestros clientes; es por ello que utilizamos las últimas tecnologías de desarrollo, para entregar un trabajo rápido, efectivo y eficaz.</p>
			<p>Nuestra mayor apuesta es siempre tener clientes satisfechos, que puedan recomendar a <span class="green"><strong>dowhile</strong></span> más allá de su buen desempeño, sino también por la calidad de nuestra atención. Cada cliente es un mundo nuevo, único y merece un desarrollo personalizado.</p>
		</div>
	</div>
</div>