<div class="header">
  <a [routerLink]="['']" class="ancla logo"><span>></span>d</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a class="ancla" id="m1" pageScroll href="#about">¿Quienes somos?</a></li>
    <li><a class="ancla" id="m2" pageScroll href="#service">Servicios</a></li>
    <!--li><a class="ancla" id="m3" href="#casos">Casos de exito</a></li-->
    <li><a class="ancla" id="m5" pageScroll href="#contact">Contacto</a></li>
  </ul>
</div>