<div class="header">
  <a ancla="body" class="ancla logo"><span>></span>d</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a class="ancla" href="#about">¿Quienes somos?</a></li>
    <li><a class="ancla" href="#service">Servicios</a></li>
    <!--li><a class="ancla" href="#casos">Casos de exito</a></li-->
    <li><a class="ancla" href="#contact">Contacto</a></li>
  </ul>
</div>