
.green{
	color: #1abc9c;
}

h2{
	font-family: 'Comfortaa', cursive;
	margin-left: 40px;
	padding-top: 60px;
}
.amamos{
	font-family: 'Comfortaa', cursive;
	margin-left: 40px;
	color: #4E565F;
}

.box{
	min-height: 100px;
	padding: 20px;
}

.pd{
	padding-bottom: 80px;
}

.box p{
	font-family: 'Comfortaa', cursive;
	margin-left: 35px;
	color: #4E565F;
}

.box .fa{
	font-size: 30px;
	color: #1abc9c;
	margin-right: 8px;
}

.box .titulo{
	font-size: 16px;
	color: #fff;
}

@media (max-width: 768px) {
	h2{
		margin-left: 20px;
	}
	.box p{
		margin-left: 15px;
	}

	.amamos{
		margin-left: 20px;
	}
}