<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2 class="green">Tienes un proyecto en mente?</h2>
			<p class="amamos">Contáctenos ahora!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="formulario">
				<form id="formulario" (ngSubmit)="onSubmit()">
					<input type="text" name="name" class="input" placeholder="Nombre" required [(ngModel)]="obj.name">
					<br>
					<input type="email" name="mail" class="input" placeholder="Correo Electronico" required [(ngModel)]="obj.mail">
					<br>
					<input type="phone" name="phone" class="input" placeholder="Teléfono" required [(ngModel)]="obj.telefono">
					<br>
					<textarea name="msg" id="" cols="30" rows="10" placeholder="Mensaje" required [(ngModel)]="obj.mensaje"></textarea>
					<br>
					<input type="submit" value="Enviar">
				</form>
				<div id="alert" class="hidde">
					<h4>Gracias por ponerse en contacto con nosotros</h4>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<p href="" class="logo"><span>></span>dowhile</p>
					<p>Dowhile spa. Empresa de Desarrollo web y Aplicaciones Moviles, Especialista en soluciones IT para la pequeña y mediana empresa. Cuenta con gran experiencia en el área de servidores web y mantenimiento a portales de clientes.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 class="white infoContacto">Informacion de contacto</h2>
					<p class="infoItem" *ngFor="let item of info"><span class="{{item.icon}}"></span>{{item.body}}</p>
				</div>	
			</div>
		</div>
	</div>
</div>