<app-navbar></app-navbar>
<div class="container-fluid" style="margin-bottom: -10px;">
  <div class="row">
    <app-headers></app-headers>
  </div>
</div>
<section class="service" id="service">
  <app-service></app-service> 
</section>

<section class="about" id="about">
  <app-about></app-about> 
</section>

<!--section class="casos" id="casos">
  <app-casos></app-casos> 
</section-->

<section class="contact" id="contact">
  <app-contact></app-contact> 
</section>

<section class="footer">
  <app-footer></app-footer> 
</section>
