<!-- Slider -->
<div id="slider">
  <div class="slides">
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1 class="">En <span>dowhile</span> <br>lo hacemos simple</h1>
          <p>Ideas creativas - Diseños inteligentes - Resultados tangibles</p>
          <br>
          <a pageScroll href="#contact">Contactanos ahora</a>
        </div>
      </div>
      <div class="image">
        <img src="/assets/header5.jpg">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Diseño y Desarrollo Web</h1>
          <h2>Somos una empresa de diseño y desarrollo web, construimos el sitio web ideal para su negocio a un precio accesible con un diseño único.</h2>
          <br>
          <a pageScroll href="#contact">Contactanos ahora</a>
        </div>
      </div>
      <div class="image">
        <img src="/assets/header3.jpg">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Diseño y Desarrollo de Apps</h1>
          <h2>Desarrollo de aplicaciones nativas e híbridas, nos ajustamos a los requerimientos de tu idea de negocio.</h2>
          <br>
          <a pageScroll href="#contact">Contactanos ahora</a>
        </div>
      </div>
      <div class="image">
        <img src="/assets/header7.jpg">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Fábrica de Ideas</h1>
          <h2>Juntos crearemos una gran propuesta, que se adapte a tu negocio y tus necesidades.</h2>
          <br>
          <a pageScroll href="#contact">Contactanos ahora</a>
        </div>
      </div>
      <div class="image">
        <img src="/assets/header6.jpg">
      </div>
    </div>
  </div>
</div>

